:root {
  --background: #ffffff;
  --text: #000000;
  --verdeClaro: #e8f5e9;
  --branco: #dadada;
  --cinza: #393939a1;
  --azul: #61c4e267;
  --verde: #e8f5e9;
  --vermelho: #eb292933;
  --roxo: #80008033;
  --laranja: #ffa50033;
  --marrom: #a52a2a33;
  --amarelo: #ffff0033;
  --preto2: #0000004d;
}

.dark-theme {
  --background: #121212;
  --verdeClaro: #191919;
  --text: #e0e0e0;
  --verde: #005e08;
  --laranja: #905e01c6;
  --amarelo: #a9a900cb;
  --marrom: #65181869;
}

.content {
  padding: 60px 20px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  height: 100%;
}

.content h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2e7d32;
}

.content p {
  margin-bottom: 20px;
  text-align: justify;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.lista-dicas {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: var(--verdeClaro);
  box-shadow: 0 4px 12px rgba(164, 163, 163, 0.9);
  transition: .8s;
}

.lista-dicas:hover {
  transform: translateY(1px);
  transition: .8s;
}

.lista-dicas h2 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 20px;
}

.lista-dicas ol {
  padding-left: 20px;
}

.lista-dicas li {
  margin-bottom: 18px;
  color: var(--text);
}

.lista-dicas li span {
  font-weight: bold;
  color: #1b5e20;
}

.tabela {
  text-align: center;
  width: 700px;
  margin: 20px auto;
}

table {
  border: 2px solid #1d723a;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #1b5e20;
  padding: 15px;
}


th {
  background-color: #2e7d32;
  color: white;
  width: 200px;
}

#azul {
  background-color: var(--azul);
}

#vermelho {
  background-color: var(--vermelho);
}

#verde {
  background-color: var(--verde);
}

#amarelo {
  background-color: var(--amarelo);
}

#laranja {
  background-color: var(--laranja);
}

#roxo {
  background-color: var(--roxo);
}

#marrom {
  background-color: var(--marrom);
}

#branco {
  background-color: var(--branco);
  color: #000000;
}

#cinza {
  background-color: var(--cinza);
  color: var(--text);
}

#preto {
  background-color: var(--preto2);
}

.faq {
  margin: 40px auto;
  max-width: 700px;
}

.faq h2 {
  text-align: center;
  color: #2e7d32;
  font-size: 2rem;
  margin-bottom: 25px;
}

details {
  border: 1px solid white;
  border-radius: 12px;
  padding: 12px 14px;
  background: var(--verdeClaro);
}

details+details {
  margin-top: 12px
}

summary {
  cursor: pointer;
  font-weight: 600;
}

details {
  margin: 0 auto 25px;
  border: 1px solid #ccc;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3 ease;
}

details:hover {
  border-color: #ccc;
  transform: translatex(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  transition: .8s;
}

summary {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding-right: 25px;
  font-weight: bold;
  color: #2e7d32;
}

summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  display: none;
}

summary::before {
  content: '▶';
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.2s ease;
  font-size: 0.8em;
  color: #2e7d32;
}

details[open] summary::before {
  content: '▼';
}

details[open] summary {
  color: #1b5e20;
}

details p {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px dashed #eee;
  text-align: left;
  font-size: 0.9em;
  color: var(--text);
}

.sobre {
  padding: 60px 20px;
  text-align: center;
  background: var(--background);
  color: var(--text);
}

.sobre h1 {
  margin-bottom: 20px;
  color: #2e7d32;
}

.sobre p {
  max-width: 800px;
  margin: 0 auto;
}

#ponto {
  background-color: var(--background);
  color: var(--text);
  padding: 60px 20px;
  text-align: center;
}

@media (max-width: 1025px) {
  .tabela {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    color: var(--text);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
  }
}

@media (max-width: 781px) {
  .tabela {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
  }
}

@media (max-width: 426px) {
  .tabela {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 50%;
    border-collapse: collapse;
    min-width: 400px;
  }
}

@media (max-width: 376px) {
  .tabela {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 50%;
    border-collapse: collapse;
    min-width: 400px;
  }
}

@media (max-width: 320px) {
  .tabela {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 50%;
    border-collapse: collapse;
    min-width: 400px;
  }
}