:root{
    --background:#ffffff;
    --text: #000000;
    --verdeClaro: #e8f5e9;
    --backgroundClaro: #ffffff;
    --backgroundCinzaEscuro:#111111;
    --backgroundInput: #fff;
}

.dark-theme{
    --background: #121212;
    --verdeClaro:#191919;
    --text: #e0e0e0;
    --backgroundInput: #191919;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Infos{
  color: #ffffff;
}

.popup-container2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.popup-content p {
  color: black;
}

.fechar-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #aaa;
}

.popup-container.mostrar {
  display: flex;
}

button{
  background-color: #2e7d32; 
      color: white; 
      border: none; 
      padding: 8px 12px; 
      border-radius: 5px; 
      cursor: pointer; 
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      display: block;
      margin: auto;
}

.participar {
  padding: 60px 20px;
  background: var(--verdeClaro);
  text-align: center;
  color: var(--backgroundCinzaEscuro);
}

.participar input{
  background-color: var(--backgroundClaro);
}

.participar h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #1b5e20;
}

.participar form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.participar label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.participar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
}

.participar input:focus {
  border-color: #2e7d32;
  box-shadow: 0 0 5px rgba(46, 125, 50, 0.4);
  outline: none;
}

#formLogin{
  color: var(--text);
}

#msgl{
  color: var(--text);
}

#formLogin input{
  background: var(--backgroundInput);
}

#formCadastro{
  color: var(--text);
}

#formCadastro input{
  background: var(--backgroundInput);
}

@media (max-width: 1025px) {

}

@media (max-width: 781px) {
  
}

@media (max-width: 426px) {
 
}

@media (max-width: 376px) {

}
 
@media (max-width: 320px) {

}