*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --verdeClaro: #e8f5e9;
  --text: #000000;
  --verdeEscuroNav: #2e7d32;
  --verdeTexto: #c1fab8;
  --preto: #000;
  --tamanho-fonte-base: 16px;
}

.dark-theme {
  --background: #121212;
  --text: #e0e0e0;
  --verdeClaro: #191919;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
  font-size: var(--tamanho-fonte-base);
  transition: font-size 0.3s ease;
  padding-top: 80px;
}

h1 {
  font-size: calc(var(--tamanho-fonte-base)* 1.8);
}

p,
strong {
  font-size: var(--tamanho-fonte-base);
}

.icon {
  display: none;
}

.nav {
  width: 100%;
  background: var(--verdeEscuroNav);
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  left: 0;
  z-index: 1000;
}

.btn {
  padding-left: 200px;
}

.btn img {
  margin-top: 10px;
  width: 30px;
  border: 1px solid var(--preto);
  border-radius: 50%;
  transition: .8s;
}

.btn img:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  transition: .8s;
}

.nav li {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  padding: 10px 0;
  width: 50px;
  float: left;
}

nav {
  height: 50px;
  float: right;
}

nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

nav li {
  margin-left: 60px;
  padding-top: 15px;
  position: relative;
  display: inline-block;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--verdeTexto);
}

nav a:hover {
  transition: .8s;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #808080;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#menu-acc {
  position: fixed;
  width: 40px;
  z-index: 100;
  left: 95%;
  top: 93%;
  transition: .2s;
}

#menu-acc img {
  transition: 0.8s;
}

#menu-acc :hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  transition: .4s;
}

#menu-acc img {
  background-color: transparent 50%;
  border-radius: 50%;
}

#caixaAcessibilidade{
  position: fixed;
  top: 72%;
  right: 20px;
  width: 170px;
  height: 170px;
  background-color: var(--verdeClaro);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  padding: 12px;
  display: none;
  animation: fadeIn 0.3s ease;
  z-index: 9998;
}

.cabecalhoAcessibilidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.cabecalhoAcessibilidade h4{
  margin: 0;
  text-align: center;
  color: var(--verdeEscuroNav);
  width: 100%;
  font-size: 1.2rem;
}

.cabecalhoAcessibilidade .fechar{
  position: absolute;
  bottom: 132px;
  left: 74px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #aaa;
}

.acessibilidade {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;  
  width: 100%;
}

#caixaAcessibilidade button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin: 0px 5px 5px 0px;
  transition: background-color 0.2s ease;
}

@keyframes fadeIn{
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: auto;
}

footer {
  background: #1b5e20;
  color: var(--background);
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  border-top: 4px solid #81c784;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.3);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 50px;
  max-width: 1100px;
  margin: auto;
}

.footer-left h3 {
  margin-bottom: 10px;
  color: #a5d6a7;
  font-size: 20px;
}

.footer-left p {
  margin: 6px 0;
  font-size: 14px;
  opacity: 0.9;
}

.footer-right h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #c8e6c9;
}

.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-right ul li {
  margin: 6px 0;
  font-size: 14px;
  transition: transform 0.3s, color 0.3s;
}

.footer-right ul li:hover {
  transform: translateX(5px);
  color: #81c784;
  cursor: pointer;
  transition: .8s;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #26612a;
  font-size: 13px;
  border-top: 1px solid #4caf50;
  animation: pulse 3s infinite;
}

@media (max-width: 1024px) {
  .nav ul {
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 100%;
    width: 100vw;
    background: #2e7d32;
    transition: right 0.3s ease-in-out;
    padding: 15px 0;
    z-index: 10;
  }

  .nav ul li {
    text-align: right;
    padding-right: 20px;
    width: 100%;
  }

  .nav ul li a {
    display: block;
    width: 90%;
    margin: 5px auto;
    text-align: center;
  }

  .icon {
    display: block;
    color: var(--branco);
    position: absolute;
    left: 95%;
    top:25%;
    z-index: 20;
    text-decoration: none;
  }

  .btn2 {
    position: relative;
    left: 140%;
  }

  .logo {
    display: block;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
  }

  .nav.responsive ul {
    top: 50px;
    right: 0;
  }

  #menu-acc {
    position: fixed;
    width: 40px;
    z-index: 100;
    left: 94%;
    top: 95%;
    transition: .2s;
  }

  #menu-acc img {
    transition: 0.8s;
    width: 55px;
    height: 55px;
    background-color: transparent 50%;
    border-radius: 50%;
  }

  #menu-acc :hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transition: .4s;
  }

  #caixaAcessibilidade{
    left: 845px;
    top: 84%;
    width: 170px;
    height: 170px;
  }

  .cabecalhoAcessibilidade .fechar{
    bottom: 135px;
    left: 75px;
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .nav ul {
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 100%;
    left: auto;
    width: 100vw;
    background: #2e7d32;
    transition: right 0.3s;
    padding: 15px 0;
    z-index: 10;
  }

  .nav.responsive ul {
    top: 49px;
    right: 0;
  }

  .icon {
    display: block;
    color: var(--branco);
    position: absolute;
    left: 93%;
    top: 25%;
    z-index: 20;
    text-decoration: none;
  }

  .btn2 {
    position: relative;
    left: 87%;
  }

  .nav ul li {
    text-align: right;
    padding-right: 20px;
  }

  .nav ul li a {
    width: 90%;
    margin: 5px auto;
  }

  #menu-acc {
    position: fixed;
    z-index: 100;
    left: 91%;
    top: 92%;
    transition: .2s;
  }

  #menu-acc img {
    transition: 0.8s;
    background-color: transparent 50%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }

  #menu-acc :hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transition: .4s;
  }

  #caixaAcessibilidade{
    left: 610px;
    top: 80%;
    width: 150px;
    height: 150px;
  }

  .cabecalhoAcessibilidade h4 {
    font-size: 0.8rem;
  }

  .cabecalhoAcessibilidade .fechar{
    bottom: 120px;
    left: 115px;
    font-size: 15px;
  }

  #caixaAcessibilidade button:not(#theme-toggle){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    font-size: 0.8rem;
  }

  #caixaAcessibilidade #theme-toggle{
    width: 70px;
    height: 100px;
  }
}

@media (min-width: 425px) and (max-width: 767px){
  .nav ul {
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 100%;
    left: auto;
    width: 100vw;
    background: #2e7d32;
    transition: right 0.3s;
    padding: 15px 0;
    z-index: 10;
  }

  .nav.responsive ul {
    top: 50px;
    right: 0;
  }

  .icon {
    display: block;
    color: var(--branco);
    position: absolute;
    left: 93%;
    top: 25%;
    z-index: 20;
    text-decoration: none;
  }

  .btn2 {
    position: relative;
    left: 24%;
  }

  .nav ul li {
    text-align: right;
    padding-right: 20px;
  }

  .nav ul li a {
    width: 90%;
    margin: 5px auto;
  }

  #menu-acc {
    position: fixed;
    z-index: 100;
    left: 89%;
    top: 92%;
    transition: .2s;
  }

  #menu-acc img {
    transition: 0.8s;
    background-color: transparent 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  #menu-acc :hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transition: .4s;
  }

  #caixaAcessibilidade{
    left: 285px;
    top: 77%;
    width: 130px;
    height: 130px;
  }

  .cabecalhoAcessibilidade h4 {
    font-size: 0.8rem;
  }

  .cabecalhoAcessibilidade .fechar{
    bottom: 105px;
    left: 100px;
    font-size: 15px;
  }

  #caixaAcessibilidade button:not(#theme-toggle){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    font-size: 0.8rem;
  }

  #caixaAcessibilidade #theme-toggle{
    width: 60px;
    height: 70px;
  }
}

@media (min-width: 375px) and (max-width: 424px){
  .nav ul {
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 100%;
    left: auto;
    width: 100vw;
    background: #2e7d32;
    transition: right 0.3s;
    padding: 15px 0;
    z-index: 10;
  }

  .nav.responsive ul {
    top: 50px;
    right: 0;
  }

  .icon {
    display: block;
    color: var(--branco);
    position: absolute;
    left: 93%;
    top: 25%;
    z-index: 20;
    text-decoration: none;
  }

  .btn2 {
    position: relative;
    left: 20%;
  }

  .nav ul li {
    text-align: right;
    padding-right: 20px;
  }

  .nav ul li a {
    width: 90%;
    margin: 5px auto;
  }

  #menu-acc {
    position: fixed;
    z-index: 100;
    left: 89%;
    top: 92%;
    transition: .2s;
  }

  #menu-acc img {
    transition: 0.8s;
    background-color: transparent 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  #menu-acc :hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transition: .4s;
  }

  #caixaAcessibilidade{
    left: 235px;
    top: 77%;
    width: 130px;
    height: 130px;
  }

  .cabecalhoAcessibilidade h4 {
    font-size: 0.8rem;
  }

  .cabecalhoAcessibilidade .fechar{
    bottom: 105px;
    left: 100px;
    font-size: 15px;
  }

  #caixaAcessibilidade button:not(#theme-toggle){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    font-size: 0.8rem;
  }

  #caixaAcessibilidade #theme-toggle{
    width: 60px;
    height: 70px;
  }
}

@media (min-width: 320px) and (max-width: 374px){
  .nav ul {
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 100%;
    left: auto;
    width: 100vw;
    background: #2e7d32;
    transition: right 0.3s;
    padding: 15px 0;
    z-index: 10;
  }

  .nav.responsive ul {
    top: 50px;
    right: 0;
  }

  .icon {
    display: block;
    color: var(--branco);
    position: absolute;
    left: 93%;
    top: 25%;
    z-index: 20;
    text-decoration: none;
  }

  .btn2 {
    position: relative;
    left: 5%;
  }

  .nav ul li {
    text-align: right;
    padding-right: 20px;
  }

  .nav ul li a {
    width: 90%;
    margin: 5px auto;
  }

  #menu-acc {
    position: fixed;
    z-index: 100;
    left: 85%;
    top: 92%;
    transition: .2s;
  }

  #menu-acc img {
    transition: 0.8s;
    background-color: transparent 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  #menu-acc :hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transition: .4s;
  }

  #caixaAcessibilidade{
    left: 180px;
    top: 77%;
    width: 130px;
    height: 130px;
  }

  .cabecalhoAcessibilidade h4 {
    font-size: 0.8rem;
  }

  .cabecalhoAcessibilidade .fechar{
    bottom: 105px;
    left: 100px;
    font-size: 15px;
  }

  #caixaAcessibilidade button:not(#theme-toggle){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    font-size: 0.8rem;
  }

  #caixaAcessibilidade #theme-toggle{
    width: 60px;
    height: 70px;
  }
} 