:root {
  --background: white;
  --text: black;
  --verdeEscuroNav: #2e7d32;
  --verdeClaro: #e8f5e9;
  --backgroundCinzaEscuro: #111111;
}

.dark-theme {
  --background: #121212;
  --verdeClaro: #191919;
  --text: #e0e0e0;
}

.imgs img {
  display: block;
  flex: 0 0 100%;
}

#img1 {
  transition: transform 1s ease-in-out;
}

#img1 img {
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
  filter: brightness(0.8);
}

#img1 img.active {
  opacity: 1;
  filter: brightness(1);
}

#carrosel h1 {
  max-width: 90%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#134813;
  font-size: 3rem;
  position: absolute;
  margin-bottom: 15px;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 8px #9b9b9bb3;
  padding: 20px;
  box-sizing: border-box;
}

#carrosel p {
  max-width: 90%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #134813;
  font-size: 1.2rem;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 8px #9b9b9bb3;
  padding: 20px;
  box-sizing: border-box;
}

.home {
  height: 100%;
  width: 100%;
  color: #2f2323;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 85vh;
  margin-top: -80px;
}

.carrosel-home {
  height: 85vh;
  overflow: hidden;
  width: 100%;
  background-color: var(--verdeClaro);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imgs {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.frase {
  text-align: center;
  display: none;
}

.sobre {
  padding: 60px 20px;
  text-align: center;
  background: var(--background);
  color: var(--text);
}

.sobre h1 {
  margin-bottom: 20px;
  color: #2e7d32;
}

.sobre p {
  max-width: 800px;
  margin: 0 auto;
}

.tipos {
  padding: 60px 20px;
  text-align: center;
  background: var(--verdeClaro);
  color: var(--backgroundCinzaEscuro);
  width: 100%;
  height: 80%;
}

.tipos h2 {
  margin-bottom: 40px;
  color: #1b5e20;
}

.clique-part {
  color: var(--text);
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 50px;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  width: 200px;
  height: 350px;
  perspective: 1000px;
}

.card:hover .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.front {
  background: var(--background);
  color: var(--text);
}

.front img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.back {
  background: var(--background);
  color: var(--text);
  transform: rotateY(180deg);
  text-align: center;
}

.content {
  padding: 60px 20px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  height: 100%;
}

.content h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2e7d32;
}

.content p {
  margin-bottom: 20px;
  text-align: justify;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1025px) {
  .cards {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .card {
    width: 90%;
    max-width: 350px;
    margin-bottom: 20px;
  }

  .cards1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  .home {
    display: none;
  }

  .frase {
    display: block;
    margin: 20px;
  }

  .clique-part {
    display: block;
  }

}

@media (max-width: 781px) {
  .cards {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .card {
    width: 90%;
    max-width: 350px;
    margin-bottom: 20px;
  }

  .cards1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  .home {
    display: none;
  }

  .frase {
    display: block;
    margin: 20px;
  }

  .clique-part {
    display: block;
  }
}

@media (max-width: 426px) {

  .cards,
  .cards1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .cards {
    gap: 12px;
    width: 95%;
    font-size: 0.9rem;
    align-items: center;
  }

  .card {
    width: 70%;
    max-width: 350px;
  }

  .clique-part {
    display: block;
  }

}

@media (max-width: 376px) {

  .cards,
  .cards1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .cards {
    gap: 12px;
    width: 95%;
    font-size: 0.9rem;
    align-items: center;
  }

  .card {
    width: 70%;
    max-width: 350px;
  }

  #home {
    display: none;
  }

  .frase {
    display: block;
    margin: 20px;
  }

  .clique-part {
    display: block;
  }

}

@media (max-width: 320px) {

  .cards,
  .cards1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .cards {
    gap: 12px;
    width: 95%;
    font-size: 0.9rem;
    align-items: center;
  }

  .card {
    width: 70%;
    max-width: 350px;
  }

  #home {
    display: none;
  }

  .frase {
    display: block;
    margin: 20px;
  }

  .clique-part {
    display: block;
  }

}