:root{
    --text: black;
}

.dark-theme{
    --text: #e0e0e0;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.popup-content p {
  color: black;
}

.fechar-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #aaa;
}

.popup-container.mostrar {
  display: flex;
}

.pc{
  text-align: center;
  margin: 20px;
  color: #2e7d32;
}

.pc1{
  text-align: center;
  margin: 0 20px 20px 20px;
  color: var(--text);
}

#map{
  height: 500px;
  width: 100%;
}

@media (max-width: 781px) {
    #map{
        height: 300px;
    }
}