:root {
  --background: white;
  --text: black;
  --verdeClaro: #e8f5e9;
  --verde: #e8f5e9;
}

.dark-theme {
  --background: #121212;
  --text: #e0e0e0;
  --verdeClaro: #191919;
  --verde: #005e08;
}

.sobre {
  padding: 60px 20px;
  text-align: center;
  background: var(--verdeClaro);
  color: var(--text);
}

.sobre h1 {
  margin-bottom: 20px;
  color: #2e7d32;
}

.sobre p {
  max-width: 800px;
  margin: 0 auto;
}

.imgg img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2e7d32;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: .5s;
}

.imgg img:hover {
  transform: translateY(-5px);
  transition: .5s;
}

.imgg {
  transition: .5s;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: var(--verdeClaro);
}

.imgg p {
  background-color: var(--verde);
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-right: 20px;
  margin-top: 20px;
  transition: .5s;
}

.imgg p:hover {
  background-color: rgba(79, 162, 86, 0.3);
  transform: translateY(-5px);
  transition: .5s;
}

.content {
  padding: 60px 20px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  height: 100%;
}

.content h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2e7d32;
}

.content p {
  margin-bottom: 20px;
  text-align: justify;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .sobre {
    display: flex;               
    flex-direction: column;      
    justify-content: center;    
    align-items: center;         
    padding: 60px 20px;
    text-align: center;
    background: var(--verdeClaro);
    color: var(--text);
    width: 100%;               
    box-sizing: border-box;      
  }

  .sobre h1 {
    margin-bottom: 20px;
    color: #2e7d32;
  }

  .sobre p {
    max-width: 800px;
    margin: 0 auto;
  }
}